.logo {
  display: flex;
  align-items: center;
}

.menu-category {
  font-weight: bold;
  padding: 0.8rem;
}

.menu-item {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
}
.menu-item:hover {
  background-color: var(--item-hover);
  cursor: pointer;
}

.menu-active {
  background-color: var(--item-active);
  border: 1px solid var(--border-line);
}
