.navbar {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid var(--border-line);
  display: flex;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
