.wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100vh;
}

.sidebar {
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid var(--border-line);
  background-color: var(--sidebar-bg-color);
}

// .wrapper-content {
// }
// .navbar {
// }

.content {
  padding: 1.5rem;
}
