<app-navbar></app-navbar>
<div class="loging-signup">
  <div class="wrapper">
    <div class="content">
      <p-card>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-arrow-left"
          class="p-button-rounded p-button-text"
        ></button>

        <div class="form-content">
          <!-- <form [formGroup]="fg">
                        <label for="user" class="block">Usuario</label>
                        <input id="user" class="block" type="username" pInputText formControlName="user" />
    
                        <label for="password" class="block">Username</label>
                        <input id="password" class="block" type="username" pInputText formControlName="password" />
                    </form> -->

          <button pButton type="button" label="Crear cuenta"></button>
        </div>
      </p-card>
    </div>
  </div>
</div>
