<div class="header">
  <div class="navbar">
    <span class="navbar-title">{{ title }}</span>

    <span class="p-input-icon-left search-input">
      <i class="pi pi-search"></i>
      <input
        type="text"
        class="p-inputtext-sm"
        pInputText
        placeholder="Buscar"
        [formControl]="keyword"
        #searchInput
      />
    </span>

    <div class="navbar-notifications">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-ellipsis-v"
        class="p-button-rounded p-button-text"
      ></button>
    </div>
  </div>

  <div class="actions">
    <div class="actions">
      <app-actions
        [actions]="actions"
        (actionClicked)="onActionClicked($event)"
      ></app-actions>
    </div>
  </div>
</div>
