.navbar {
  height: 60px;
  display: flex;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  font-weight: bold;
  font-size: 2rem;
}
