.navbar {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid var(--border-line);
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}
