<div class="header">
  <div class="navbar">
    <p class="navbar-title">{{ title }}</p>

    <span class="p-input-icon-left search-input">
      <i class="pi pi-search"></i>
      <input
        type="text"
        class="p-inputtext-sm"
        pInputText
        placeholder="Buscar"
      />
    </span>

    <div calss="navbar-actions">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-ellipsis-v"
        class="p-button-rounded p-button-text"
      ></button>
    </div>
  </div>

  <div class="tools">
    <div class="tools-actions">
      <button
        pButton
        pRipple
        type="button"
        label="Crear"
        class="menu-button p-button-primary p-button-sm"
        icon="pi pi-plus"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Entradas"
        class="menu-button p-button-text p-button-sm"
        icon="pi pi-angle-double-down"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Salidas"
        class="menu-button p-button-text p-button-sm"
        icon="pi pi-angle-double-up"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Actualizar"
        class="menu-button p-button-text p-button-sm"
        icon="pi pi-refresh"
      ></button>
    </div>
  </div>
</div>
