.header {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-bottom: 1px solid var(--border-line);

  .navbar {
    width: 100%;
    display: grid;
    height: 60px;
    grid-template-columns: minmax(auto, 400px) auto minmax(auto, 400px);

    .navbar-title {
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 2rem;
      grid-column-start: 1;
      grid-column-end: 2;
      align-self: center;
    }

    .search-input {
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: center;
      input {
        display: block;
        width: 100%;
      }
    }
    .navbar-notifications {
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: end;
    }
  }

  .actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .primary-actions {
      justify-self: start;
    }

    .secondady-actions {
      justify-self: end;
    }
  }
}
