<div class="tools-menu">
  <div>
    <button
      pButton
      pRipple
      type="button"
      label="Crear"
      class="menu-button p-button-outlined p-button-sm"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Entradas"
      class="menu-button p-button-outlined p-button-sm"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Salidas"
      class="menu-button p-button-outlined p-button-sm"
    ></button>
  </div>

  <span class="p-input-icon-left search-input">
    <i class="pi pi-search"></i>
    <input type="text" class="p-inputtext-sm" pInputText placeholder="Buscar" />
  </span>
</div>

<div class="card">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum officia ex
    unde eligendi ea reiciendis a quaerat quam. Corrupti fugit quo aperiam eum
    nam voluptatibus totam eius sunt velit quidem!
  </p>
</div>
